- var PREFIX = process.env.ASSET_PREFIX ? process.env.ASSET_PREFIX : ''
script(src=`${PREFIX}/assets/js/vendors/modernizr-3.6.0.min.js`)
script(src=`${PREFIX}/assets/js/vendors/jquery-3.7.1.min.js`)
script(src=`${PREFIX}/assets/js/vendors/jquery-migrate-3.3.0.min.js`)
script(src=`${PREFIX}/assets/js/vendors/bootstrap.bundle.min.js`)
script(src=`${PREFIX}/assets/js/vendors/waypoints.js`)
script(src=`${PREFIX}/assets/js/vendors/wow.js`)
script(src=`${PREFIX}/assets/js/vendors/magnific-popup.js`)
script(src=`${PREFIX}/assets/js/vendors/perfect-scrollbar.min.js`)
script(src=`${PREFIX}/assets/js/vendors/select2.min.js`)
script(src=`${PREFIX}/assets/js/vendors/isotope.js`)
script(src=`${PREFIX}/assets/js/vendors/scrollup.js`)
script(src=`${PREFIX}/assets/js/vendors/counterup.js`)
script(src=`${PREFIX}/assets/js/vendors/slick.js`)
script(src=`${PREFIX}/assets/js/vendors/jquery.elevatezoom.js`)
script(src=`${PREFIX}/assets/js/vendors/swiper-bundle.min.js`)
script(src=`${PREFIX}/assets/js/vendors/noUISlider.js`)
script(src=`${PREFIX}/assets/js/vendors/slider.js`)